{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'AppCoder/css/styles.css' %}">
    <title>Quick Finance</title>
</head>
<body>

    {% include 'AppCoder/navbar.html' %}

    <!-- Page Content-->
    <div class="container px-4 px-lg-5">

        <h1>
            {% block contenido_titulo %}
           
            {% endblock contenido_titulo %}
        </h1>

        {% block contenido %}{% endblock contenido %}

        {% block contenido_adicional %}
            {% if user.is_authenticated %}
                <form action="{% url 'AppCoder:logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="submit">Logout</button>
                </form>
            {% else %}

            {% endif %}
        {% endblock contenido_adicional %}

    </div>

    {% include 'AppCoder/footer.html' %}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'AppCoder/js/scripts.js' %}"></script>

</body>
</html>