{% extends 'AppCoder/base.html' %}

{% block contenido_titulo %}
    <h1>Buscar Usuarios</h1>
{% endblock contenido_titulo %}

{% block contenido %}
    <form method="get" action="{% url 'AppCoder:buscar_usuarios' %}">
        <label for="nombre">Consulta de Usuario:</label>
        <input type="text" name="nombre" id="nombre">
        <button type="submit">Buscar</button>
    </form>

    {% if usuarios %}
        <p>Resultados de la búsqueda para "{{ nombre }}":</p>
        <ul>
            {% for usuario in usuarios %}
                <li>{{ usuario.nombre }} {{ usuario.apellido }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron usuarios con ese nombre.</p>
    {% endif %}
{% endblock contenido %}