{% extends 'AppCoder/base.html' %}

{% block contenido_titulo %}
<H1>Buscar Usuario</H1>
{% endblock contenido_titulo %}

{% block contenido %}

 <!-- Formulario de búsqueda -->
<form method="post" action="{% url 'AppCoder:buscar_usuarios' %}">
    {% csrf_token %}
    {{ form_busqueda.as_p }}
    <button type="submit" name="buscar_usuario">Buscar Usuario</button>
</form>

<!-- Sección de resultados de búsqueda -->
{% if usuario_encontrado %}
    <h2>Datos del Usuario Encontrado</h2>
    <p>Nombre: {{ usuario_encontrado.nombre }}</p>
    <p>Apellido: {{ usuario_encontrado.apellido }}</p>
  
{% endif %}

{% endblock contenido %}