{% extends 'AppCoder/base.html' %}

{% block contenido_titulo %}
    <h1>Buscar Usuarios</h1>
{% endblock contenido_titulo %}

{% block contenido %}
    <form method="post" action="{% url 'AppCoder:buscar_usuarios' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>

    {% if usuarios_encontrados is not None %}
        {% if usuarios_encontrados %}
            <div class="resultados-busqueda">
                <p>Resultados de la búsqueda:</p>
                <ul>
                    {% for usuario in usuarios_encontrados %}
                        <li>
                            <strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong>
                            <ul>
                                <li>Email: {{ usuario.email }}</li>
                                <li>Intereses: {{ usuario.intereses }}</li>
                                <li>Fecha de Nacimiento: {{ usuario.nacimiento }}</li>
                                <li>País: {{ usuario.pais_origen }}</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>No se encontraron resultados.</p>
        {% endif %}
    {% endif %}
{% endblock contenido %}