{% extends 'AppCoder/base.html' %}

{% block contenido %}
    <div class="my-4">
        <h1 class="display-4 font-weight-bold">Noticias de Última Hora</h1>
        <p class="lead">Explora las últimas noticias y mantente informado sobre los eventos más recientes en el mundo.</p>

        <ul class="list-unstyled">
            {% if not detalle_noticia %}
                <li><a href="{% url 'AppCoder:inicio' %}" class="button-link">Volver al inicio</a></li>
                <li class="d-flex">
                    <a href="{% url 'AppCoder:crear_noticia' %}" class="btn btn-success mr-2">Crear una nueva noticia</a>
                    <a href="{% url 'AppCoder:buscar_noticia' %}" class="btn btn-info">Buscar noticia</a>
                </li>
            {% endif %}
        </ul>

        <!-- Sección de Noticias -->
        <h2 class="h4">Noticias Recientes</h2>

        {% for noticia in noticias %}
            <div class="card my-3">
                <div class="card-header">
                    <span class="font-weight-bold">{{ noticia.autor.username }}</span>
                </div>
               
                <div class="card-body">
                    <h3 class="card-title h5">{{ noticia.titulo }}</h3>
                    <p class="card-text">{{ noticia.descripcion }}</p>
                    {% if not detalle_noticia %}
                        <a href="{% url 'AppCoder:foros' %}" class="btn btn-primary">Leer más</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contenido %}