{% extends 'AppCoder/base.html' %}

{% block contenido_titulo %}
    <h1 class="display-4 font-weight-bold">Autores</h1>
    <p class="lead">Explora la lista de autores registrados y descubre las personas detrás de las noticias y publicaciones en Quick Finance.</p>
{% endblock contenido_titulo %}

{% block contenido %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'AppCoder/css/estilos.css' %}">

    <div class="container mt-5">
        <h2 class="text-primary">¡Bienvenido a Quick Finance!</h2>
        <li><a href="{% url 'AppCoder:inicio' %}" class="custom-link">Volver al inicio</a></li>
        
        <img src="{% static 'AppCoder/Image/FotoGenerica.jpg' %}" alt="Imagen Genérica" class="img-fluid mx-auto d-block rounded mb-4" style="max-width: 300px;">

        <p class="mb-4">
            Quick Finance es un proyecto financiero donde puedes participar en foros, leer noticias, y conectarte con otros entusiastas de las finanzas.
        </p>

        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <a href="{% url 'AppCoder:crear_usuarios' %}" class="btn btn-primary btn-block custom-btn">Registrarse</a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="{% url 'AppCoder:buscar_usuarios' %}" class="btn btn-primary btn-block custom-btn">Buscar Autor</a>
                </div>
            </div>

            <h2 class="mt-4">Explora a nuestros Autores Destacados y sus principales intereses:</h2>
            <button type="button" class="btn btn-primary custom-btn">
                <a href="{% url 'AppCoder:usuarios_lista' %}" class="text-white">Autores Registrados</a>
            </button>
        </div>
    </div>
{% endblock contenido %}