{% extends 'AppCoder/base.html' %}

{% block contenido_titulo %}
    <h1>Usuarios</h1>
{% endblock contenido_titulo %}

{% block contenido %}
    <ul>
        <li><a href="{% url 'AppCoder:inicio' %}">Volver al inicio</a></li>
        <li><a href="{% url 'AppCoder:crear_usuarios' %}" class="button-link">Crear un nuevo Usuario</a></li>
        <li><a href="{% url 'AppCoder:buscar_usuarios' %}" class="button-link">Buscar Usuario</a></li>
        <li><a href="{% url 'AppCoder:usuarios_lista' %}" class="button-link">Usuarios Registrados</a></li>
    </ul>

    <div id="usuarios-container" style="display: none;">
        <!-- Contenido de usuarios se cargará aquí -->
    </div>

    <script>
        document.getElementById('mostrar-usuarios').addEventListener('click', function() {
            // Lógica para cargar la lista de usuarios
            fetch('{% url "AppCoder:usuarios_lista" %}')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('usuarios-container').innerHTML = data;
                    document.getElementById('usuarios-container').style.display = 'block';
                });
        });
    </script>
{% endblock contenido %}