{% extends 'AppCoder/base.html' %}

{% block contenido_titulo %}
<H1>USUARIOS</H1>
{% endblock contenido_titulo %}

{% block contenido %}

<ul>
    <li><a href="{% url 'AppCoder:inicio' %}">Volver al inicio</a></li>
    <li><a href="{% url 'AppCoder:crear_usuarios' %}" class="button-link">Crear un nuevo Usuario</a></li>
    <li><a href="{% url 'AppCoder:buscar_usuarios' %}" class="button-link">Buscar Usuario</a></li>
</ul>

{% for usuario in usuarios %}
    <h5>{{usuario.nombre}}</h5>  
    <h5>{{usuario.apellido}}</h5>
    
    {% if usuario.nacimiento %}
       <p>{{usuario.nacimiento}}</p>
    {% else %}
       <p>No está registrada su fecha de nacimiento</p>
    {% endif %}  
    
    {% if usuario.intereses %}
       <p>{{usuario.intereses}}</p>
    {% else %}
       <p>No están registrados sus intereses</p>
    {% endif %}

    {% if usuario.pais_origen %}
        <p>{{usuario.pais_origen}}</p>
    {% else %}
        <p>No está registrado su país de origen</p>
    {% endif %}
{% endfor %}

{% endblock contenido %}